<h1>List -- RSS News Feeds</h1>



<br />
<% if @logged_in.admin? %>
<%= link_to 'New feed', new_feed_path %>
<% end %>


<% for feed in @feeds.sort_by(&:name) %>
    <p>
      <%= link_to feed.name, :controller => "items", :action =>"index", :id => feed %>
	  <%= h feed.description%>
     <% if @logged_in.admin? %>
	 <%= link_to 'Edit',@feed, :method => :edit %>
     <%= link_to 'trash.gif',@feed, :confirm => 'Are you sure?', :method => :delete %>
     <% end %>
    </p>
  <% end %>
