<h1>List -- RSS News Feeds</h1>



<br />
<% if @logged_in.admin? %>
<h3><%= link_to 'New feed', new_feed_path %></h3>
<% end %>


<% for feed in @feeds.sort_by(&:name) %>
    <p>
      <%= link_to feed.name, :controller => "items", :action =>"index", :id => feed %>
	  <%= h feed.description%>
     <% if @logged_in.admin? %>
	 <%= link_to 'Edit',@feed, :method => :edit %>
     <%= link_to 'Delete',@feed, :confirm => 'Are you sure?', :method => :delete %>
     <% end %>
    </p>
  <% end %>
