



<h1> RSS Feed Data </h1>

<table>
  <tr>
  	<th> Feed </th>
    <th>Title</th>
  
    <th>Published at</th>
    
  </tr>

<h3><%= will_paginate @items %></h3>

<% for item in @items  %>


  <tr>
  	<td><%= h item.feed.name %>---</td>
	<td><strong><%=link_to item.title, item  %></strong></td>
    
    <td><%= item.published_at.to_time %></td>
    <% if @logged_in.admin? %>
    <td><%= link_to 'Destroy', item, :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>
  </tr>

<% end %>
</table>
<h3><%= will_paginate @items %></h3>
<br />

<h3><%= link_to "Back", :controller => "feeds", :action => "index" %></h3>


